
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  font-family: "Mali", cursive;
  /*cursor:none;*/
}
:root {
  --color-1: black;
  --color-2: beige;
  
}
body{

  background-image: url(./../images/F2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1{
  padding-top: 2%;
  text-align: center;
  font-size: 5vw;
  color: wheat;
}
hr{
  color:wheat;
  margin:auto;
  width: 80%;
  border: 2px solid wheat;
}

section{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.texto {
  flex-basis: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#blender {
  font-size: 43px;;
  text-align: center;
  color: wheat;
  border:6px solid white;
  background-color: rgba(55, 55, 55, 0.5);
  padding: 12%;
  clip-path: polygon(16% 37%, 0 0, 53% 15%, 100% 0, 83% 98%, 53% 99%, 0 60%);
  animation: animarClipPath 6s infinite ease-in-out;
  
}

.texto p {
  color: wheat;
  font-size: 25px;
}

@keyframes animarClipPath {
  0% {
    clip-path: polygon(16% 37%, 0 0, 53% 15%, 100% 0, 83% 98%, 53% 99%, 0 60%);
  }
  25% {
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  }
  70% {
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  }
  100% {
    clip-path: polygon(16% 37%, 0 0, 53% 15%, 100% 0, 83% 98%, 53% 99%, 0 60%);
  }
}
.custom-carousel {
  flex-basis: 50%;
  padding: 10%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  height: fit-content;
}

.custom-carousel-img {
  border: 2px solid white;
  color: wheat;
}
.d-md-block{
  position: absolute;
  bottom:0;
  border: 2px solid wheat;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
  margin-bottom: 20px;
}

.carousel-control-prev, 
.carousel-control-next {
  height: fit-content;
  margin:auto
}

.carousel-control-prev-icon{
  margin-left: 70%;
}
 
.carousel-control-next-icon{
  margin-right: 70%;
} 
.carousel-indicators{
  position: absolute;
  bottom:60px;
  height: 30px;
}

/*-------Música-------*/

.Flauta{
  background-image: url(./../images/F2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter:invert(1) saturate(35%);
}

h2,h3{
  font-size: 50px;
  color:wheat;
  width: 50%;
  margin: auto;
  text-align: center;
  animation: bump 700ms infinite;
}
h3{
  font-size: 20px;
}
@keyframes bump {
  0%{
    transform: scale(0.95);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(0.95);
  }
  
}
.col-6{
  width: 50%;
  position: relative;
}
.col-6 img{
  width: 70%;
  position: absolute;
  left: 0;
  right: 0;
  margin:auto;
  filter:invert(1);
}
.Flauta .btn-group-vertical{
  width: 40vw;
  margin:3% 12%;
  
}
.btn-group-vertical h4{
  text-align: center;
  margin:3% auto;
  font-size: 40px;
  color:wheat;;
}
.btn-primary{ 
  background-color: wheat;
  padding:5%;
  margin:3% auto 3% auto;
  border-radius: 30%;
  color:black;
  filter: saturate(230%);
}
.btn-primary:hover{
  background-color: rgb(10, 33, 76);
  padding:5%;
  margin:3% auto 3% auto;
  border-radius: 30%;
}

/* ---------Deportes---------*/
.Deportes{
  display:inline-block;
  align-items: center;
  width: 100%;
  background-image: url(./../images/fondoHobbies.jpg);
  height: fit-content;
  
}
.Deportes h5{
  text-align: center;
  font-size: 40px;
  margin:3%;
}
.Deportes hr{
  border: 5px solid black;
  width: 70%;
  margin-bottom:3%;
  margin-top:-2%;
}
.wrap {
  width: 80%;
  margin:auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 5px solid black;
}
#wrap2{
  margin-top: -3%;
}
.tarjeta-wrap {
  flex: 1 1 300px;
}

.tarjeta {
  width: 100%;
  height: 500px;
  background-color: black;
  position: relative;
  transform-style: preserve-3d;
  transition: .7s ease;
}

.adelante, .atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.adelante {
  width: 100%;
}

.atras {
  transform: rotateY(180deg); 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "open sans";
  background: black;
}

.tarjeta-wrap:hover .tarjeta {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card1{
	background-image: url(./../Deportes/gimnasio.jpeg);
	background-size: cover;
}

.card2{
	background-image: url(./../Deportes/golf.jpeg);
	background-size: cover;
}

.card3{
	background-image: url(./../Deportes/running.jpeg);
	background-size: cover;
  background-position: center;
}
.card4{
	background-image: url(./../Deportes/tennis.jpeg);
	background-size: cover;
  background-position:top;
}
.card5{
	background-image: url(./../Deportes/ultimate.jpeg);
	background-size: cover;
}

/* -----------foooter-------------*/
footer{
  background-color: black;
  display: table;
  width: 100%;
  height: fit-content;
  border: 3px solid black;
}
footer h1{
  display: table-cell;
  text-align: left;
  vertical-align: middle; 
  font-size: 32px;
}
