
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  font-family: "Mali", cursive;
  /*cursor:none;*/
}
:root {
  --color-1: black;
  --color-2: beige;
  
}
body {
  height: 100vh;
  background-image: url(./images/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* ---------Scrollbar--------- */
body::-webkit-scrollbar{
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
}
body::-webkit-scrollbar-track {
  background-color: var(--color-2);
}
/* ---------Mouse--------- */
.mouse{
  position:absolute;
  border-radius:100%;
  width:35px;
  height:35px;
  z-index:10;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.2));
}
/* ---------Menú--------- */

.custom-navbar {
  background-color: #000000; 
  height: 10vh;
}

.custom-navbar .navbar-brand,
.custom-navbar,
.custom-navbar {
  color: #ffffff; 
}
.custom-navbar .navbar-brand {
  font-size: 35px;
  margin-left: 3%;
}

.custom-navbar .nav-link {
  color:white;
}
.custom-navbar .nav-link.active { 
  color: #ffffff; 
}
.custom-navbar li{
  margin-left: 20%;
}

.custom-navbar .navbar-toggler-icon {
  background-color: #ffffff;
}

/* ---------General--------- */

#container {
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
    }
    
/* ---------Left side--------- */

#col-4{
  width:30vw;
  display: table;
  padding-right: 3%;
}
#col-4 .Imgautor1{
  position: fixed;
  bottom: -15%;
  left: -3%;
  width:20%;
  filter: brightness(0.3);
}
#col-4 #citas{
  display: table-cell;
  text-align: justify;
  vertical-align: middle;
  padding-left: 16%;
}
#citas p{
  padding:4%;
  border-left: 3px dashed black;
  border-right: 3px dashed black;
}


/* ---------Middle--------- */

#col-8{
  width:45vw;
  text-align: center;
  margin-top:2%;
}
#col-8 hr{
  border:2px solid black;
}
#imgAutor2 {
  width: 70%;
  position: relative;
  margin:auto;
}
#imgAutor2 img{
  margin-top:-5%;
  width:40%;
}
#col-8 p{
  text-align: justify;
  padding: 0 10%;
}
/* ---------Right side--------- */

#col-12{
  width:24vw;

}

#col-12 .social_media{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin:auto;
  align-items: center;
}
#col-12 .social_media a{
  margin:9% 0;
  width: 25%;
}
#col-12 .social_media a img{
  width: 100%;
}